$main-blue: #2196f3;
$bg-blue: #a6d6d8;
$shadow-red: #c62828;
$btn-blue: #337ab7;
$btn-green: #5cb85c;
$btn-light-blue: #5bc0de;

@mixin shadow {
  transition: all 0.5s;
  filter: drop-shadow(1px 1px 1px $main-blue)
    drop-shadow(-1px -1px 1px $shadow-red);
  &:hover {
    filter: drop-shadow(1px 1px 1px $shadow-red)
      drop-shadow(-1px -1px 2px $main-blue);
  }
}

@mixin pulse {
  transition: all 2s;
  animation: pulse 2s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
