@use 'variables' as v;

.about {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  @media screen and (min-width: 900px) {
    flex-direction: row;
    gap: 4rem;
  }
  h1 {
    &:hover {
      @include v.shadow;
    }
    font-size: x-large;
  }
  img {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    @media screen and (min-width: 900px) {
      max-width: 200px;
      max-height: 200px;
    }
    @include v.shadow;
    &:hover {
      @include v.pulse;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: medium;
  color: v.$btn-blue;
  user-select: none;
  overflow: scroll;
  max-height: 500px;
  text-align: justify;
  padding-right: 1rem;
  line-height: 150%;
  letter-spacing: 2px;
}
