@use 'variables' as v;

.about {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  @media screen and (min-width: 900px) {
    flex-direction: row;
    gap: 4rem;
  }
  h1 {
    text-align: left;
    &:hover {
      @include v.shadow;
    }
  }
  img {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    @media screen and (min-width: 900px) {
      max-width: 200px;
      max-height: 200px;
    }
    @include v.shadow;
    &:hover {
      @include v.pulse;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: v.$btn-blue;
  user-select: none;
  overflow: scroll;
  max-height: 750px;
  text-align: justify;
  padding-right: 1rem;
  line-height: 150%;
  letter-spacing: 2px;
}

.images {
  .placeholder {
    display: flex;
  }
  .profile {
    display: none;
  }
  &:hover {
    .placeholder {
      display: none;
    }
    .profile {
      display: flex;
    }
  }
}
