@use 'variables' as v;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 6rem;
  background: v.$main-blue;
  width: 100%;
  gap: 1rem;
  @include v.shadow;
  @media screen and (min-width: 900px) {
    flex-direction: row;
    justify-content: space-between;
  }
  .banner {
    @media screen and (min-width: 900px) {
      height: 100%;
    }
    pre {
      user-select: none;
      font-size: 5px;
      margin-right: 16px;
      @media screen and (min-width: 900px) {
        font-size: 10px;
      }
    }
  }
  .buttons {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
    a,
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: none;
      user-select: none;
      @include v.shadow;
      img {
        -webkit-user-drag: none;
        &:hover {
          @include v.pulse;
        }
      }
    }
    button {
      cursor: pointer;
      gap: 0.25rem;
      padding: 0.25rem;
      text-transform: uppercase;
      background: v.$bg-blue;
      color: v.$shadow-red;
      font-weight: bold;
      font-size: 10px;
      img {
        max-width: 12px;
        max-height: 12px;
      }
      @media screen and (min-width: 900px) {
        gap: 0.5rem;
        padding: 0.5rem;
        font-size: 1rem;
        img {
          max-width: 16px;
          max-height: 16px;
        }
      }
    }
    a {
      font-size: small;
      width: 1.5rem;
      height: 1.5rem;
      img {
        max-width: 12px;
        max-height: 12px;
      }
      @media screen and (min-width: 900px) {
        font-size: x-large;
        width: 3rem;
        height: 3rem;
        img {
          max-width: 24px;
          max-height: 24px;
        }
      }
      &.about {
        background-color: v.$btn-blue;
      }
      &.projects {
        background-color: v.$btn-green;
      }
      &.contact {
        background-color: v.$btn-light-blue;
      }
    }
  }
}
