@use 'variables' as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 6rem;
  background: v.$main-blue;
  width: 100%;
  @include v.shadow;
  .banner {
    height: 100%;
    pre {
      user-select: none;
      font-size: smaller;
    }
  }
  .buttons {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
    a,
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: none;
      user-select: none;
      @include v.shadow;
      img {
        -webkit-user-drag: none;
        &:hover {
          @include v.pulse;
        }
      }
    }
    button {
      gap: 0.5rem;
      padding: 0.5rem;
      text-transform: uppercase;
      background: v.$bg-blue;
      color: v.$shadow-red;
      font-weight: bold;
    }
    a {
      font-size: x-large;
      width: 3rem;
      height: 3rem;
      &.about {
        background-color: v.$btn-blue;
      }
      &.projects {
        background-color: v.$btn-green;
      }
      &.contact {
        background-color: v.$btn-light-blue;
      }
    }
  }
}
