@use 'variables' as v;

.projects {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: v.$main-blue;
  padding: 4rem 2rem;
  @include v.shadow;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
    flex-direction: column;
    @media screen and (min-width: 600px) {
      flex-direction: row;
    }
  }
}

.gallery {
  display: grid;
  width: 100%;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
}

.projectCard {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background: white;
  color: v.$main-blue;
  text-align: justify;
  margin: 0 auto;
  border-radius: 10px;
  user-select: none;
  h2 {
    text-align: center;
    margin: 1rem 0;
    text-wrap: nowrap;
  }
  @include v.shadow;
}

.filter {
  position: relative;
  font-size: 1.5rem;
  appearance: none;
  -webkit-appearance: none;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.25rem;
  color: #000;
  margin-top: 2rem;
  cursor: pointer;
  text-align: center;
  @media screen and (min-width: 600px) {
    position: absolute;
    right: 2rem;
    margin-top: 0;
  }
}

.imageContainer {
  perspective: 1000px;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  cursor: pointer;
  &:hover .projectImage {
    transform: rotateY(180deg);
  }
}

.projectImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  transition: transform 0.6s;
  backface-visibility: hidden;
}

.description {
  height: 200px;
  overflow: scroll;
  padding: 0 1rem;
  line-height: 24px;
}

.longDescription {
  height: 255px;
  margin-bottom: 4rem;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
  a {
    padding: 1rem;
    background: v.$btn-blue;
    @include v.shadow;
    color: white;
    border: 2.5px solid transparent;
    border-radius: 10px;
    &:first-child {
      background: v.$main-blue;
    }
    &:hover {
      border: 2.5px solid black;
      opacity: 0.75;
    }
  }
}
