@use 'variables' as v;

.projects {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: v.$main-blue;
  padding: 4rem 2rem;
  @include v.shadow;
  h3 {
    margin-bottom: 4rem;
  }
}

.gallery {
  display: grid;
  width: 100%;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
}

.projectCard {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background: white;
  color: v.$main-blue;
  text-align: justify;
  margin: 0 auto;
  border-radius: 10px;
  user-select: none;
  h2 {
    text-align: center;
    margin: 1rem 0;
    text-wrap: nowrap;
  }
  @include v.shadow;
  img {
    @include v.shadow;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
  }
}

.description {
  height: 200px;
  overflow: scroll;
  padding: 0 1rem;
  line-height: 24px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
  a {
    padding: 1rem;
    background: v.$btn-blue;
    @include v.shadow;
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    &:first-child {
      background: v.$main-blue;
    }
    &:hover {
      border: 2.5px solid black;
      opacity: 0.75;
    }
  }
}
