* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: white;
  background: #a6d6d8;
  max-height: 100vh;
  overflow: scroll;
  font-family: monospace;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  line-height: 50px;
}

.image-gallery-image {
  max-height: 40vh !important;
  max-width: 75vw;
  border-radius: 25px;
  margin-bottom: 2rem;
}

.image-gallery-thumbnail-image {
  cursor: pointer;
  max-height: 4rem;
  border-radius: 10px;
  max-width: 100%;
  width: auto !important;
}

.image-gallery-svg {
  height: 40px !important;
  width: 20px !important;
}
